* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  width: 100%;
}
.page1 {
  min-height: 100vh;
  background-color: #efeae3;
  width: 100%;
  /* color: #FE330A; */
  position: relative;
  padding: 0vw 2.2vw;
}
nav {
  height: 100px;
  width: 100%;
  /* background-color: rgb(63, 52, 52); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5vw 0vw;
}
.navPart2 {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 1vw;
}
.navPart2 h4 {
  border: 1px solid #8a8a89;
  border-radius: 2vw;
  padding: 0.8vw 1.5vw;
  font-size: 1.3vw;
  font-weight: 600;
  position: relative;
  overflow: hidden;
}
.navPart2 h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  left: 0%;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.5s;
}
.navPart2 h4:hover::after {
  bottom: 0%;
  border-radius: 0%;
  color: white;
}
.navPart2 h4 a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.952);
  position: relative;
  z-index: 9;
}
.navPart2 h4 a:hover {
  color: white;
}
.center {
  height: 77vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.363);
  padding-bottom: 4.2vw;
}
.left {
  width: 35vw;
  font-size: 2vw;
  line-height: 2vw;
  font-weight: 500;
}
.right h1 {
  /* font-weight: 300; */
  font-size: 10vw;
  line-height: 7.5vw;
  text-align: right;
}
.page1 video {
  width: 100%;
  border-radius: 50px;
  margin-top: 3.5vw;
  /* z-index: 10; */
  position: relative;
}
.heroShape {
  position: absolute;
  width: 45vw;
  height: 45vw;
  right: 0%;
  top: 82vh;
}
.hero1 {
  height: 100%;
  width: 100%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  background-color: #fe330a;
  filter: blur(20px);
  position: absolute;
}
.hero2 {
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  position: absolute;
  background: linear-gradient(#fe330a, #fe3b0aec);
  filter: blur(25px);
  animation-name: anime2;
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.hero3 {
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  position: absolute;
  background: linear-gradient(#fe330a, #fe3b0aec);
  filter: blur(25px);
  animation-name: anime3;
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes anime3 {
  from {
    transform: translate(55%, -7%);
  }
  to {
    transform: translate(0%, 10%);
  }
}
@keyframes anime2 {
  from {
    transform: translate(5%, -5%);
  }
  to {
    transform: translate(-20%, 30%);
  }
}
.page2 {
  min-height: 100vh;
  background-color: #EFEAE3;
  width: 100%;
  padding: 8vw 0vw;
}
.movingText {
  white-space: nowrap;
  overflow-x: auto;
}
.movingText::-webkit-scrollbar {
  display: none;
}
.con {
  white-space: nowrap;
  display: inline-block;
  animation-name: marquee;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: linear;
  transition: all ease 5s;
}
.movingText h1 {
  font-size: 9vw;
  display: inline-block;
  text-transform: uppercase;
}
.circle {
  height: 5vw;
  width: 5vw;
  border-radius: 50%;
  background-color: #fe330a;
  display: inline-block;
  margin: 0.5vw 1.2vw;
}
@keyframes marquee {
  form {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.page2bottom{
  min-height: 60vh;
  width: 100%;
  background-color: #8a8a89;
  padding:2vw 4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page2bottom h1{
  font-size: 4vw;
  width: 56%;
  line-height: 3.8vw;
}
.bottomPart2{
  width: 20%;
}
.bottomPart2 img{
  width: 100%;
  border-radius: 15px;
  margin-top: 17vw;
}
.bottomPart2 p{
  font-weight: 100;
  margin-top: 2.5vw;
}